body {
      max-width: 90%;
      margin: 0 auto;      
      background: -webkit-linear-gradient(90deg, rgb(201, 201, 201), rgb(177, 206, 180));
      background: linear-gradient(90deg, rgb(201, 201, 201), rgb(177, 206, 180));
      background-image: url("chinese-bg.jpg");
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: cover;
}

header h1 {
      background-color: #fad390;
}

p {
      font-family: 'Georgia';
      line-height: 125%;
      font-size: 20px;
      color: #0c2461;
}

p:first-of-type {
      font-weight: bold;
}

ul, ol, table {
      font-size: 20px;
}

a {
      color: #4a69bd;
}

a:hover, a:visited:hover{
      color: #b71540;
      font-size: 20px;
}

a:visited {
      color: #3c6382;
}

blockquote {
      width: 50%;
      margin: 0 auto;
      background-color: #ddd;
      border-left: 3px solid #842E1B;
      padding: 80px 0 80px 30px;
      font-style: italic;
}

blockquote p {
      font-size: 160%;
}

q {
      font-style: italic;
}

.villagers{
      border-left: 2px solid #78e08f;
      padding-left: 5px;
}

.farmer {
      border-left: 2px solid #fa983a;
      padding-left: 5px;
}

.bien, .mal {
      text-transform: uppercase;
}

.mal {
      color: red;
}

.bien {
      color: green;
}

table {
      border: 1px solid gray;
}

table tr:nth-child(odd) {
      background-color: #fff;
}

table tr:nth-child(even) {
      background-color: #bbb;
}

ol li:first-child{
      background-image: url("bien.png");
}

ol li:nth-child(2){
      background-image: url("mal.png");
}

ol li:nth-child(3){
      background-image: url("chat.png");
}

ol {
      
}

ol li {
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      padding-right: 200px;
}